
:root {
    --primary:rgb(24, 117, 24);
    --secondary: rgb(213, 210, 234);
    --tertiary: rgb(135, 234, 135);
}

.header{
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px var(--secondary);
    background-color: var(--tertiary);
   }

.web-development{
          position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

nav a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
    background-color: rgb(80, 150, 9);
}

 .banner{
    position: relative;
    display:flex;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    max-height: 80vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    }

.text-block {
    font: 20px Georgia;
    position: absolute;
    text-align: center;
    /* background-color: black; */
    color: black; 
    padding-left: -150px;
    padding-right: 50px; 
    }

.page-body {
    background-color: var(--secondary);
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
   

.flex-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
   }

.work_history {
    box-sizing: border-box;
    position:relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 25%;
    min-width: 100%;
    }

.page-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    }

.bio {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    height: 205x;
    background-color: var(--tertiary);
    font: 15px Georgia;
    align-items: center;
}

.contact {
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    margin: 25px 0;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    /* min-height: 15%; */
    min-width: 100%;
    color:rgb(9, 3, 9);
    border: 3mm; color: black;
    background-color: var(--tertiary);
}

.flex-item {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border: 5px black;
    /* background-color: var(--primary); */
    color: black;
    /* padding: 5px 5px 5px 5px; */
    margin: 2em;
    font-size: 1rem;
}

.project-x {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    align-items: center;

}
.project-x-text{
    top: 20px;
    text-align:center;
}

@media (max-width: 800px) {
    .page-section {
      flex-direction: column;
    }
}

@media (max-width: 800px) {
    .page-body {
      flex-direction: column;
    }
}
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}
@media (max-width: 800px) {
    .flex-item {
      flex-direction: column;
    }
}
