
:root {
    --primary:rgb(24, 117, 24);
    --secondary: rgb(213, 210, 234);
    --tertiary: rgb(135, 234, 135);
}

.header{
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px var(--secondary);
    background-color: var(--tertiary);
   
}
.navigationlinks{
    text-decoration: none;
}
 .banner{
    position: relative;
    display:flex;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
         }

.text-block {
    font: 20px Georgia;
    position: absolute;
    text-align: center;
    /* background-color: black; */
    color: black; 
    padding-left: -150px;
    padding-right: 50px; 
}

.page-body {
    background-color: var(--secondary);
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

   
}
.flex-container{
    display: flex;
    flex-direction:unset;
    flex-wrap: wrap;



}
.page-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration:none;
    color: black;
   
      }

.bio {
    width: 400px;
    height: 250px;
    background-color: var(--tertiary);
    font: 15px Georgia;
}

.work_history{
    
    margin: 25px 0;
    padding: 5px 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    }

.contact {
    display: flex;
    flex-direction: row;
    text-align: justify;
    min-height: 50px;
    min-width: 400px;
    color:rgb(9, 3, 9);
    border: 3mm; color: black;
    background-color: var(--tertiary);
}

.flex-item {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border: 5px black;
    /* background-color: var(--primary); */
    color: black;
    /* padding: 5px 5px 5px 5px; */
    margin: 2em;
    font-size: 1rem;
}



